<component name="ArtifactManager">
  <artifact type="war" name="mybatisdemo4:war">
    <output-path>$PROJECT_DIR$/../mybatisdemo4/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>mybatisdemo4</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="mybatisdemo4.war">
      <element id="artifact" artifact-name="mybatisdemo4:war exploded" />
    </root>
  </artifact>
</component>