<component name="ArtifactManager">
  <artifact type="exploded-war" name="mybatisdemo4:war exploded">
    <output-path>$PROJECT_DIR$/../mybatisdemo4/target/mybatisdemo4</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>mybatisdemo4</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="mybatisdemo4" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:6.0.6" />
          <element id="library" level="project" name="Maven: org.mybatis:mybatis:3.4.6" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/../mybatisdemo4/target/mybatisdemo4/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="mybatisdemo4/web/Web" />
    </root>
  </artifact>
</component>