<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.newer.test.dao.UserDao">

  <insert id="addUser" parameterType="com.newer.test.pojo.User">
    INSERT INTO sys_user(userid,username,password,state,mobile)
    VALUES(null,#{username},#{password},#{state},#{mobile})
  </insert>
  
  
</mapper>  